[Unit]
Description=DucAnhVPN backend Docker Compose
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/home/perral/ducanhvpn
ExecStart=/usr/bin/docker compose up -d --remove-orphans app
ExecStop=/usr/bin/docker compose stop app
RemainAfterExit=yes
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
